/* .page-footer {
  flex-shrink: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: auto;
} */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}