#outdoorPage {
    margin-bottom: 0px;
    background-image: url("../../images/outsideBackground.jpg");
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    height: 14em;
}