#topnav {
    padding-bottom: 150px;
}

#graveyardpage {
    background-image: url("../../images/graveyardBackground.jpg");
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 100%;
    padding-bottom: 20em;
    padding-left: 20em;
    padding-right: 20em;
    padding-top: 10em;
    margin-right: 0px;
}