/* body {
    background-image: url("../../images/profilebackground.jpg");
} */
#profilepage {
    background-size: cover;
    background-image: url("../../images/profilebackground.jpg");
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 100%;
    margin-top:0px;
    padding-bottom: 7em;
    padding-top: 2em;
}

#plantcontainers {
    /* border: 1px solid black; */
    opacity: .8;
    background-color: whitesmoke;
}

#mainprofile {
    opacity: .8;
    background-color: whitesmoke;
}

#welcomebanner {
    padding-left: 100px;
    color: #057156;
    opacity: .8;
}

#image {
    padding-left: 100px;
}

#badgecontainer {
    opacity: .8;
    padding: 0;
    background-color: whitesmoke;
}

#indoorcontainer {
    opacity: .8;
    background-color: whitesmoke;
}

#outdoorcontainer {
    opacity: .8;
    background-color: whitesmoke;
}