#indoorPage {
    margin-bottom: 0px;
    background-image: url("../../images/indoorBackground.png");
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}
.outsideweather {
    z-index: -1;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}