#indoorPage {
    background-image: url("../../images/IndoorBackground.png");
    background-repeat: no-repeat;
    min-height: 100%;
    padding-bottom: 7em;
    margin-bottom: 0px;
}

.outsideweather {
    z-index: -1;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}