#indoorPage {
    background-image: url("../../images/IndoorBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100%;
    max-width: 100%;
    padding-bottom: 1em;
    margin-bottom: 0px;
}

#door {
    width: 300%;
    height: 300%; 
    margin-top: 80%;
    padding-top: 200%;
    margin-left: 500%;
    position: relative;
    padding-bottom: none;
    margin-bottom: none;
}

#plantCol {
    display: inline-block;
    position: relative;
}

#weatherbg {
    z-index: -10;
    position:absolute;
    width: 100%;
    /* overflow: none; */
}