body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  #footer-container {
    background-color: rgb(29, 199, 143);
  }

  #copyrightarea {
    background-color: #08B27A;
  }