.material-icons{
    display: inline-flex;
    vertical-align: top;
}

.inline-icon {
    vertical-align: bottom;
    font-size: 18px !important;
 }

#logo {
    padding-left: 40px;
    /* color: #B1FF5E; */
}

.nav-wrapper {
    background-color: #08B27A;
}

#navbar-button {
    float: left;
}