/* body {
    background-image: url("../../images/loginbackground.jpg");

    background-repeat: no-repeat;
} */

#topnav {
    padding-bottom: 150px;
}

#loginpage {
    padding: 25px;
    opacity: .7;
    background-color: whitesmoke;
    background-position: 0% 25%;
    background-size: cover;
 
    color: white;
    text-align: center;
    height: 14em;
}